h1 {
    color: green;
    font-style: italic;
  }
h2 {
    color: brown;
    font-style: italic;
  }
h3 {
    color: blueviolet;
    font-style: italic;
  }
h4 {
    color: darkcyan;
  }
h5 {
    color: darkcyan;
  }
li {
    color: brown;
    padding-top: 5px;
    font-size: 15px;
  }
.note {
    color: darkslateblue;
    padding-top: 5px;
    font-size: 15px;
  }
.rowname {
  color: darkslateblue;
  padding-top: 8px;
  font-size: 20px;
  font-style: bold;
  border-style: solid;
  border-radius: 3px;
  padding: 6px;
  margin-bottom: 4px;
}
.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .noerror {
    color: deepskyblue;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  table, th, td {
    border: 1px solid black;
  }